.Header {
    width: 100%;
    height: 100vh;
}

.Header nav {
    background: #0096c7;
    width: 100%;
    height: 50px;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.Header nav ion-icon {
    margin-left: 40px;
    font-size: 30px;
    color: #ffffff;
    transform: rotate(40deg);
}

.Header nav .links {
    margin-right: 40px;
}

.Header nav .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: 600;
}

.Header nav .links a:hover {
    border-bottom: 2px solid #fff;
}

.Header .img-header {
    background: url('../../img/pexels-asad-photo-maldives-457878.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: blur(3px);
}

.Header .content {
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 130px;
    z-index: 2;
}

.Header svg {
    width: 100%;
    position: relative;
    bottom: 295px;
    z-index: 1;
}

.Header .btn-menu {
    background: none;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border: none;
    color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    right: 40px;
    z-index: 10;
}

.Header .menu-desplegable {
    background: #0096c7;
    width: 65%;
    min-height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    right: -500px;
    opacity: 0.8;
    transition: all 800ms;
    z-index: 10;
}

.Header .menu-desplegable .btn-cerrar {
    background: none;
    width: 60px;
    height: 60px;
    font-size: 40px;
    color: #ffffff;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    right: 5px;
}

.Header .menu-desplegable ul {
    width: 100%;
    height: 100vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Header .menu-desplegable ul li {
    margin: 30px 0;
}

.Header .menu-desplegable ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

@media (max-width: 1024px ) {
    .Header .content {
        font-size: 25px;
        top: 370px;
        left: 40px;
    }

    .Header svg {
        bottom: 225px;
    }
}

@media (max-width: 768px) {
    .Header {
        height: 480px;
    }

    .Header .img-header {
        height: 100%;
    }

    .Header .content {
        font-size: 20px;
        top: 220px;
    }

    .Header svg {
        bottom: 168px;
    }
}

@media (max-width: 450px) {
    .Header nav {
        position: fixed;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        z-index: 10;
    }

    .Header nav .links {
        display: none;
    }

    .Header .content {
        font-size: 15px;
        position: absolute;
        top: 230px;
        left: 25px;
    }

    .Header svg {
        bottom: 97px;
    }

    .Header .btn-menu {
        display: flex;
    }
}