.Inicio {
    width: 100%;
    height: 400px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 145px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Inicio .content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Inicio .content-1 img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.Inicio .content-1 p {
    padding: 0 75px;
    text-align: center;
}

.Inicio .content-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 45px;
}

.Inicio .content-2 h2 {
    margin: 20px 0;
}

.Inicio .content-2 p {
    margin: 20px 0;
}

@media (max-width: 450px ) {
    .Inicio {
        margin-bottom: 150px;
    }

    .Inicio .content-1 img {
        width: 150px;
        height: 150px;
    }

    .Inicio .content-1 p {
        padding: 0 30px;
        text-align: center;
    }
}