.MasInformacion {
    background: #fff;
    width: 100%;
    padding: 90px 120px;
}

.MasInformacion h1 {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
    color: #0096c7;
}

.MasInformacion .presentacion img {
    width: 100%;
    margin-bottom: 40px;
}

.MasInformacion .presentacion ul {
    padding: 0 0 0 50px;
}

@media (max-width: 1024px ) {
    .MasInformacion {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .MasInformacion {
        padding: 50px 40px;
    }
}

@media (max-width: 450px ) {
    .MasInformacion {
        padding: 90px 30px;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .MasInformacion .presentacion ul li {
        margin: 7px 0;
    }
}