.product {
    background: #ffffff;
    height: 230px;
    margin: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 150px;
    height: 150px;
    border: solid 1px #000000;
    border-radius: 5px;
}

.product .content-text {
    margin-left: 15px;
}

.product .content-text p {
    text-align: center;
}